    body {
    background-color: black;
    color: gray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 400; 
    font-style: normal; 
    font-variation-settings: 
    "wdth" 100; 
}

header,
main,
#content,
nav {
    text-align: center;
}

nav {
    border-top: 1px solid gray;
    padding-top: 1em;
}

nav a {
    padding: 15px 15px 4px 15px;
    font-size: 1.8em;
    text-decoration: none;
    color: #F2F2F2;
}

nav a:hover {
    border-bottom: 2px solid orange;
    font-size: 2em;
    transition: 0.3s;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    padding: 1em;
}

main figure,
main>div {
    flex: 1;
}

main figure {
    margin: 0;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
}

#content.contact-form {
    background-image: url('../img/deep-44lgPdzdwO0-unsplash.png');
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    background-position: left, top left;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}
#content .contact-form-container {
    background-color: rgba(242, 242, 242, 0.8);
    padding: 2em;
    border-radius: 10px;
}
#content .contact-form-iframe{
    width: 640px;
    height: 822px;
    border: 0;
    margin: 0;
}

footer {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    border-top: 1px solid gray;
    padding: 1em;
    color: #A0A0A0;
}

footer img {
    width: 150px;
}

table {
    margin: 25px auto;
    padding-right: 10px;
    font-size: 1.3em;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

th strong {
    color: orange;
    padding: 1em;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    max-width: 500px;
    margin: 25px auto;
    text-align: left;
}

.hobby {
    color: yellow;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    main figure,
    main>div {
        width: 100%;
    }

    ul {
        max-width: 500px;
        margin: 25px auto;
        text-align: left;
        padding-inline-start: 25px;
    }
}